* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 2em;
    margin-bottom: 60px; /* 根据实际情况调整页脚高度，避免内容被页脚遮挡 */
}

section {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

h3 a {
    color: #007BFF;
    text-decoration: none;
}

h3 a:hover {
    text-decoration: underline;
}

p a {
    color: #6c757d;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px; /* 根据实际情况设置合适的高度 */
}
